/* CSS header + navigation primaire */
@import url(./header.css); 
/* CSS hero */
@import url(./hero.css);
/* CSS grille */
@import url(./grille.css);
/* CSS box menu home */
@import url(./box-menu.css);
/* CSS footer */
@import url(./footer.css);

/*=====================
REMISE À ZÉRO DES STYLE
=====================*/

* {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*=====================
COULEURS
=====================*/
:root {
	--epinard: #12241e;
	--brocoli: #193f2d;
	--laitue: #5d9a64;
	--citron: #c5ed91;
	--papaye: #d6503c;
	--noix: #561107;
	--abricot: #fddebe;
	--coco: #f6f4f1;
}

/*=====================
GENERAL STYLE
=====================*/

html {
	font-family: gopher, sans-serif;
	line-height: 1.6;
	font-size: 16px;
}

h1 {
	font-size: 4rem;
	font-weight: 400;
}

h2 {
	font-size: 2.488rem;
}

h3 {
	font-size: 2.074rem;
}

h4 {
	font-size: 1.44rem;
}

p,
a,
input {
	font-size: 1.3rem;
}

input[type="text"] {
	max-height: 50px;
	min-width: 10vw;
	padding: 5px 15px;
	border: 2px solid var(--brocoli);
	color: var(--brocoli);
}

/*espacement entre sections principales*/
main > * + section {
	padding: 50px 20px;
}

main > section:last-of-type {
	background-image: url(../imgs/banner_franchise.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3rem;
	min-height: 20vh;
	color: var(--coco);
	align-items: center;
	text-align: center;
	align-content: center;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*=====================
typo speciale
=====================*/

.promo > p {
	font-size: 1.728rem;
}

label{
	font-size: 1.44rem;
}

.txtCoco {
	color: var(--coco);
}


/*=====================
strucutre de base
** element centré si contient seulement du text ou des boutons
** alternance droite gauche des images qui ne sont pas de grande taille
=====================*/

main > section {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

section > * {
	text-align: center;
}

.colonnes-deux {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.colonnes-deux > * {
	min-width: 30ch;
	max-width: 80ch;

	flex-basis: 0;
	flex-grow: 1;
}

/*retirer margin-top d'une section dans le cas de l'affichage 2 colones*/
.colonnes-deux > section {
	margin-top: 0;
}

.description p {
	max-width: 60ch;
	text-align: center;
}



/*=====================
élément graphique
** bouton
** images
=====================*/

.img-grande {
	max-width: 50rem;
	object-fit: cover;
	flex-grow: 2;
}

picture {
	display: block;
}

.img-moyenne {
	max-width: 25rem;
	object-fit: cover;
}

.img-support {
	max-width: 500px;
	aspect-ratio: 16/9;
}

.img-petite {
	max-width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.logo-reseau {
	max-width: 30px;
	aspect-ratio: 1/1;
}

.img-critique {
	min-width: 100px;
	aspect-ratio: 1/1;
}

/*retirer border style des inputs de type submit pour appliquer le style d'un bouton*/
input[type="submit"] {
	border: none;
}

.bouton {
	display: block;
	min-width: 15ch;
	max-width: fit-content;
	background-color: var(--papaye);
	color: var(--coco);
	padding: 15px 25px;
	text-transform: uppercase;

	margin-left: auto;
	margin-right: auto;

	transition-property: background-color;
	transition-duration: 200ms;
}

.bouton:hover {
	background-color: var(--noix);
}

.lien:hover {
	opacity: 0.5;
}



/*=====================
règles fonctionnelles
=====================*/

.sticky {
	position: sticky;
}

/*=====================
BG COULEURS
=====================*/

.bgFonce {
	background-color: var(--epinard);
}

.bgLaitue {
	background-color: var(--laitue);
}

.bgCitron {
	background-color: var(--citron);
}

.bgAbricot {
	background-color: var(--abricot);
}

.bgPattern {
	background-image: url(../imgs/pattern_abricot.jpg);
	background-repeat: repeat;
	background-color: var(--coco);
	background-blend-mode: multiply;
}

/*=====================
TITRE COULEURS
=====================*/

.titreVert {
	color: var(--laitue);
}

.titrePapaye {
	color: var(--papaye);
}

.titreCoco {
	color: var(--coco);
}

.titreVertFonce {
	color: var(--brocoli);
}

.titreCitron {
	color: var(--citron);
}

/*=====================
PAGES INTERNES
=====================*/

.titre-interne {
	min-height: 10rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	justify-content: space-around;
	padding: 1rem;
}

.container-texte {
	text-align: left;
	flex-wrap: wrap;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 30px;
}



/*----------- Écran de 1180px et moins ---------------*/

@media screen and (max-width: 1180px) {

	/*=====================
	 rythme et typographie de base
	 =====================*/
 
	 html {
		 font-family: gopher, sans-serif;
		 line-height: 1.4;
		 font-size: 14px;
	 }
 
	 h1 {
		 font-size: 4rem;
		 font-weight: 400;
	 }
	 
	 h2 {
		 font-size: 1.728rem;
	 }
	 
	 h3 {
		 font-size: 1.44rem;
	 }
	 
	 h4 {
		 font-size: 1.2rem;
	 }

	 .invisible {
        display: none;
    }

	.img-grande {
		max-width: 20rem;
		object-fit: cover;
	}

	.colonnes-deux {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	.container-texte {
		text-align: center;
		min-width: 30ch;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}



	
}

/*----------- Écran de 720px et moins ---------------*/

@media screen and (max-width: 720px) {


	html {
		font-family: gopher, sans-serif;
		line-height: 1.4;
		font-size: 14px;
	}

	h1 {
		font-size: 3rem;
	}
	
	h2 {
		font-size: 1.728rem;
	}
	
	h3 {
		font-size: 1.44rem;
	}
	
	h4 {
		font-size: 1.2rem;
	}

	p {
		font-size: 1rem;
	}
	
	.img-grande {
		max-width: 20rem;
		object-fit: cover;
	}
    
  
    .img-moyenne {
        max-width: 200px;
        aspect-ratio: 16/9;
    }
    
    .img-support {
        max-width: 500px;
        aspect-ratio: 16/9;
    }
    
    .invisible {
        display: none;
    }

}